.leaflet-container {
  font-family: inherit;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 20px;
}

.leaflet-popup-content {
  margin: 16px;
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.leaflet-control-zoom a {
  width: 36px !important;
  height: 36px !important;
  line-height: 36px !important;
}
